<div class="container-fluid text-white d-none d-md-none d-xl-block p-3 pt-5 mt-4" style="background-color: #0C121C;">
    <div class="row container __footer">
        <div class="col-xl-5 col-md-3">
            <p><strong>Liên hệ với chúng tôi <span style="color: #ccc;">(Hỗ trợ 24/7)</span></strong></p>
            <p><strong><i class="fa-solid fa-phone"></i> Đặt vé máy bay: <span class="text-warning">1900 4798</span></strong></p>
            <p><strong><i class="fa-solid fa-phone"></i> Đặt Tour du lịch: <span class="text-warning">1900 4798</span></strong></p>
            <p><strong><i class="fa-solid fa-phone"></i> Đặt phòng khách sạn: <span class="text-warning">1900 4798</span></strong></p>
            <p><strong><i class="fa-solid fa-phone"></i> Tư vấn xin Visa: <span class="text-warning">1900 4798</span></strong></p>
        </div>
        <div class="col-xl-2 col-md-3">
            <p><strong>Về chúng tôi</strong></p>
            <ul class="list-group list-group-numbered text-secondary">
                <li class="mb-xl-3"><a class="text-decoration-none text-secondary" href="#!">Giới thiệu</a></li>
                <li class="mb-xl-3"><a class="text-decoration-none text-secondary" href="#!">Liên hệ</a></li>
                <li class="mb-xl-3"><a class="text-decoration-none text-secondary" href="#!">Truyền thông</a></li>
                <li class="mb-xl-3"><a class="text-decoration-none text-secondary" href="#!">Các đơn vị hợp tác</a></li>
                <li class="mb-xl-3"><a class="text-decoration-none text-secondary" href="#!">Chính sách bảo mật</a></li>
                <li class="mb-xl-3"><a class="text-decoration-none text-secondary" href="#!">Điều khoản sử dụng</a></li>
            </ul>
        </div>
        <div class="col-xl-2 col-md-3">
            <p><strong>Sản phẩm</strong></p>
            <ul class="list-group list-group-numbered text-secondary">
                <li class="mb-xl-3"><a class="text-decoration-none text-secondary" href="#!">Vé máy bay</a></li>
                <li class="mb-xl-3"><a class="text-decoration-none text-secondary" href="#!">Tour du lịch</a></li>
                <li class="mb-xl-3"><a class="text-decoration-none text-secondary" href="#!">Đặt khách sạn</a></li>
                <li class="mb-xl-3"><a class="text-decoration-none text-secondary" href="#!">Combo tiết kiệm</a></li>
                <li class="mb-xl-3"><a class="text-decoration-none text-secondary" href="#!">Visa</a></li>
                <li class="mb-xl-3"><a class="text-decoration-none text-secondary" href="#!">Cách đặt chỗ</a></li>
            </ul>
        </div>
        <div class="col-xl-3 col-md-3">
            <p><strong>Khác</strong></p>
            <ul class="list-group list-group-numbered text-secondary">
                <li class="mb-xl-3"><a class="text-decoration-none text-secondary" href="#!">Tuyển dụng</a></li>
                <li class="mb-xl-3"><a class="text-decoration-none text-secondary" href="#!">Xem lại đơn hàng</a></li>
                <li class="mb-xl-3"><a class="text-decoration-none text-secondary" href="#!">Đặt khách sạn</a></li>
                <li class="mb-xl-3"><a class="text-decoration-none text-secondary" href="#!">Hướng dẫn thanh toán</a></li>
                <li class="mb-xl-3"><a class="text-decoration-none text-secondary" href="#!">Chăm sóc khách hàng</a></li>
                <li class="mb-xl-3"><a class="text-decoration-none text-secondary" href="#!">Đăng ký nhận bản tin</a></li>
            </ul>
        </div>

        <div class="col-xl-6 mt-xl-3">
            <img src="../assets/images/logo_white.svg" width="100%">
        </div>
        <div class="col-xl-6 mt-xl-3">
            <ul class="list-group list-group-numbered text-secondary">
                <li class="mb-xl-3"><i class="fa-solid fa-location-dot"></i> 190-192 Trần Quý, Phường 6, Quận 11, Tp. Hồ Chí Minh</li>
                <li class="mb-xl-3"><i class="fa-solid fa-location-dot"></i> 54 Phạm Hồng Thái, Bến Thành, Quận 1, Tp. Hồ Chí Minh</li>
                <li class="mb-xl-3"><i class="fa-solid fa-location-dot"></i> 164 Lê Thánh Tôn, Phường Bến Thành, Quận 1, TP. Hồ Chí Minh</li>
                <li class="mb-xl-3"><i class="fa-solid fa-location-dot"></i> 30 Phan Chu Trinh, Quận Hoàn Kiếm, TP. Hà Nội</li>
                <li class="mb-xl-3"><i class="fa-solid fa-location-dot"></i> 174 Nguyễn Văn Linh, Quận Thanh Khê, TP. Đà Nẵng</li>
            </ul>
        </div>
    </div>
    <div class="text-center p-3" style="font-size: 20px;">
        <a href="https://www.facebook.com/VuNguyenHuong.Official" target="_blank" class="text-secondary"><i class="fa-brands fa-square-facebook m-1"></i></a>
        <a href="https://www.instagram.com/vunguyenhuong.ins/" target="_blank" class="text-secondary"><i class="fa-brands fa-instagram m-1"></i></a>
        <a href="https://www.facebook.com/VuNguyenHuong.Official" target="_blank" class="text-secondary"><i class="fa-brands fa-snapchat m-1"></i></a>
        <a href="https://www.pinterest.com/vunguyenhuong" target="_blank" class="text-secondary"><i class="fa-brands fa-pinterest m-1"></i></a>
        <a href="https://twitter.com/VuNguynHng9" target="_blank" class="text-secondary"><i class="fa-brands fa-twitter m-1"></i></a>
        <a href="https://github.com/vunguyenhuong" target="_blank" class="text-secondary"><i class="fa-brands fa-github m-1"></i></a>
        <p style="font-size: 15px;" class="mt-2">Powered by <a class="text-decoration-none" href="https://www.facebook.com/VuNguyenHuong.Official" target="_blank">Vu Nguyen Huong</a></p>
    </div>
</div>

<div class="container-fluid text-center p-5 d-block d-md-block d-xl-none" style="font-size: 20px;">
    <a href="https://www.facebook.com/VuNguyenHuong.Official" target="_blank" class="text-secondary"><i class="fa-brands fa-square-facebook m-1"></i></a>
    <a href="https://www.instagram.com/vunguyenhuong.ins/" target="_blank" class="text-secondary"><i class="fa-brands fa-instagram m-1"></i></a>
    <a href="https://www.facebook.com/VuNguyenHuong.Official" target="_blank" class="text-secondary"><i class="fa-brands fa-snapchat m-1"></i></a>
    <a href="https://www.pinterest.com/vunguyenhuong" target="_blank" class="text-secondary"><i class="fa-brands fa-pinterest m-1"></i></a>
    <a href="https://twitter.com/VuNguynHng9" target="_blank" class="text-secondary"><i class="fa-brands fa-twitter m-1"></i></a>
    <a href="https://github.com/vunguyenhuong" target="_blank" class="text-secondary"><i class="fa-brands fa-github m-1"></i></a>
    <p style="font-size: 15px;" class="mt-2">Powered by <a class="text-decoration-none" href="https://www.facebook.com/VuNguyenHuong.Official" target="_blank">Vu Nguyen Huong</a></p>
</div>