<div class="text-white ps-3 pe-3" style="background-color: #003e80; font-size: smaller;">
    <div class="d-none d-md-block d-xl-block">
        <div class="d-flex">
            <div class="p-2 flex-grow-1">Viet Nam Booking Corporation</div>
            <div class="p-2"><i class="fa-sharp fa-solid fa-envelope"></i> huongvnph27229@fpt.edu.vn</div>
            <div class="p-2"><i class="fa-sharp fa-solid fa-phone"></i> 0395.080.513</div>
            <div class="p-2"><i class="fa-brands fa-github"></i> vunguyenhuong</div>
            <div class="p-2"><i class="fa-regular fa-clock"></i> <clock></clock></div>
        </div>
    </div>
    <div class="text-center d-block d-md-none d-xl-none">
        <div class="d-flex">
            <div class="p-2 flex-grow-1">Viet Nam Booking Corporation</div>
            <div class="p-2"><i class="fa-brands fa-github"></i> vunguyenhuong</div>
        </div>
    </div>
</div>
<nav class="__navigation navbar navbar-expand-md ps-3 pe-3">
    <a class="navbar-brand" href="#">
        <img src="../assets/images/logo.svg" alt="" style="height: 40px;">
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse __nav-colapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2">
            <li class="nav-item ">
                <a class="nav-link " href="#!home"><i class="fa-solid fa-house-chimney"></i> Trang chủ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#!about"><i class="fa-solid fa-plane"></i> Giới thiệu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#!contact"><i class="fa-solid fa-phone-volume"></i> Liên hệ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#!hotel"><i class="fa-solid fa-hotel"></i> Khách sạn</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-user"></i> Tài khoản</a>
                <div class="dropdown-menu mt-4 ">
                    <a class="dropdown-item text-dark" href="#!">Đăng ký</a>
                    <a class="dropdown-item text-dark" href="#!login">Đăng nhập</a>
                    <a class="dropdown-item text-dark" href="#!">Quên mật khẩu</a>
                    <hr class="dropdown-divider">
                    <a class="dropdown-item text-dark" href="#!">Đổi mật khẩu</a>
                    <a class="dropdown-item text-dark" href="#!">Cập nhật tài khoản</a>
                    <a class="dropdown-item text-dark" href="#!">Đăng xuất</a>
                </div>
            </li>
        </ul>
    </div>
</nav>